{% extends 'canon/base.html' %}
{% from "pagination.html" import pagination %}

{% block content %}
    <div class="row"><div class="col-md-12">
        <h2 class="page-header">{% block title %}Common Questions{% endblock %}</h2>

        <p class="lead">This is a list of common questions within the Python tag. Each question includes some canonical SO questions that can be used to close-vote any new questions that match. If you have any suggestions then please come <a href="http://chat.stackoverflow.com/rooms/6/python">see us in chat</a>.</p>

        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input type="text" id="search" class="validate" />
                <label for="search">Search</label>
              </div>
            </div>
          </form>
        </div>
        <div>

          <!--<button data-toggle="collapse" data-target="#search-rules" type="button" class="btn btn-link"><i class="fa fa-info-circle"></i> How to search</button>-->
          <!--
          <ul id="search-rules" class="collapse">
              <li>Each space separated value is a separate search term.</li>
              <li>Terms are ANDed together.</li>
              <li>[Brackets] indicate a tag term.</li>
              <li><code>is:draft</code> shows only draft posts.</li>
              <li><code>is:community</code> shows only community posts.</li>
          </ul>
          -->
        </div>

        <div class="row">
          {% if current_user.authenticated %}<a class="orange darken-2 btn right" href="{{ url_for('canon.create') }}"> Add Common Question</a>{% endif %}
        </div>

        <ul class="collection staggered-list">
          {% for item in pg.items %}
          <li>
            <a href="{{ item.detail_url }}" class="collection-item orange-text text-darken-2 hoverable">
              <h5>{{ item.title }}</h5>
              <p class="grey-text">{{ item.excerpt }}</p>
            </a>
          </li>
          {% endfor %}
        </ul>

        <div class="row">
          <div class="col s12">
            <div class="right">{{ pagination(pg) }}</div>
          </div>
        </div>
    </div></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  Materialize.showStaggeredList('.staggered-list');
</script>
{% endblock %}
