{% extends "admin/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2 text-center">
        <img src="{{ user.avatar_url }}" class="img-rounded user-avatar" />
        <h3>{{ user.display_name }}</h3>
    </div>
    <div class="col-md-10">
        <form action="" method="POST" role="form">
            <legend>User Groups</legend>
        
            <div class="form-group">
                {{ form.hidden_tag() }}
                <div class="checkbox">
                    <label>
                        {{ form.groups() }}
                    </label>
                </div>
                
            </div>
            <div class="form-group">
                <a href="{{ url_for('admin.view_groups') }}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}